{% extends '_template.html' %} {% block body %}

<style>
	.main-container {
		height: 100%;
	}
	.container-art {
		max-width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.art {
		max-width: 50%;
		width: auto;
		height: auto;
	}
</style>

<div class="main-container d-flex justify-content-center align-items-center w-100">
	<div class="container-art w-50">
		<img class="art" src="/static/images/404-art.png" alt="500-art" class="img-fluid" />
	</div>
	<div class="container-info w-50">
		<h4>Something isn't right...</h4>
		<h4>Code: 500</h4>
	</div>
</div>

{% endblock body %}
