/* Style sheet link for _template */
/* <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> */

/* Color Variables */
:root{
    --primary-color: #944394;
    --secondary-color: #A2D0F7;
    --background-color: #272733;
    --background-dark: #000419;
}

/* ===== ===== ===== ===== ===== */
/* Navbar */
body {
    background-color: var(--background-color);
    color: white;
}
.nav {
    padding-bottom: 10px;
    background-color: var(--background-dark);
    color: #FFFFFF;
}
.nav-link {
    color: #FFFFFF;
    padding: 0px;
}
.nav-link.active {
    color: var(--primary-color);
}
.nav-link:hover {
    color: var(--primary-color);
}
.nav-link.disabled {
    color: #A9A9A9;
}
.nav-item {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0;
}
.nav-item span {
    align-items: center;
    font-size: 1.3em;
}
.navbar-brand{
    color: white;
    margin-left: 5px;
    font-weight: bold;
}
.navbar-brand:hover{
    color: var(--primary-color);
}
.navbar-toggle{
    color: var(--primary-color);
}
.navbar-toggler-icon{
    height: 35px;
    width: 35px;
    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}
.navbar-nav.ms-auto {
    padding: 12px;
}
.dropdown-menu.dropdown-menu-end {
    background-color:#202428;
}
.dropdown-item {
    color: #FFFFFF;
}
.dropdown-item:hover {
    background-color: #6A84DA;
}
.navbar-username{
    color: white;
}
.navbar-username:hover,
.navbar-username:active{
    color: var(--primary-color);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--primary-color);
}
.nav-signup-login{
    display: flex;
    align-items: center;
    flex-flow: row;
}
.nav-divider{
    color: white;
}
.badge.rounded-pill {
    background-color: #DD8B59 !important;
    color: #ffffff !important;
}


/* ===== ===== ===== ===== ===== */
/* Header */
.header{
    background-color: var(--background-dark);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* ===== ===== ===== ===== ===== */
/* Main padding for Header */
main{
    padding-top: 70px;
    padding-bottom: 50px;
    /* margin-top: 50px; */
}

/* ===== ===== ===== ===== ===== */
/* Footer */
.footer{
    background-color: var(--background-dark);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-text{
    color: white;
    font-size: small;
}
