/* Style sheet link for _template */
/* <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> */

/* Color Variables */
:root{
    --primary-color: #944394;
    --background-color: #272733;
    --background-dark: #000419;

}

/* ===== ===== ===== ===== ===== */
/* Navbar */

body {
    background-color: var(--background-color);
    color: white;
}
.nav {
    padding: 10px;
    background-color: var(--background-dark);
    color: #FFFFFF;
}
.nav-link {
    color: #FFFFFF;
    padding: 0px;
}
.nav-link:hover {
    color: var(--primary-color);
}
.nav-link.active {
    color: var(--primary-color);
}
.nav-link.disabled {
    color: #A9A9A9;
}
.nav-item:not(:first-child) {
    margin-left: 20px;
}
.nav-item {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0;
}
.nav-item span {
    align-items: center;
    font-size: 1.3em;
}

/* ===== ===== ===== ===== ===== */
/* Forum Page */

.card-header{
    background-color: var(--background-dark);
    color: #FFFFFF;
}
.card {
    margin-top: 20px;
    background-color: var(--background-color);
    color: #FFFFFF;
}
.card-footer{
    background-color: var(--background-dark);
    color: #FFFFFF;
}
.btn.btn-primary.btn-block {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #FFFFFF;
}

/* ===== ===== ===== ===== ===== */
/* Chat Session */

.chatbox {
    position: fixed;
    bottom: 20vh; 
    right: 10px;
    width: 30%;
    background: #262D34;
    box-shadow: #000000;
    height: calc(100% - (20vh + 70px));
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.card {
    background-color: #262D34;
    color: #fff;
}

.message-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.message-container {
    background-color: #262D34;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.list-group-item, .form-select, .btn-primary, .form-control,.form-control:focus,
.form-select:focus {
    background-color: #2E3142;
    color: #ffffff;
    border-color: #2E3142;
}

.bottom-controls {
    position: fixed;
    bottom: 20px; 
    right: 10px;
    width: 30%;
    background: #262D34;
    box-shadow: #000000;
    padding: 20px;
    border-radius: 25px;
}