{% extends '_template.html' %}

{% block body %}

<style>
  .othernavbar a {
    color: #ffffff !important;
    padding: 10px;
  }

  .othernavbar a:hover {
    color: #944394 !important;
  }

  .othernavbar a.active {
    color: #944394 !important;
  }

  .container-title {
    background-color: #262D34;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
  }

  .title-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    margin-bottom: 20px; 
    transition: transform 0.2s ease; 
    background-color: #495057;
  }

  .card:hover {
    transform: scale(1.05); 
  }

  .submit-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .section-divider {
    margin: 30px 0;
    border-bottom: 2px solid #ffffff;
  }
</style>


<!-- Container with Title -->
<div class="container-title">
  <h1>My Active Game Sessions</h1>
  <div class="title-line"></div>
</div>

<!-- Navbar -->
<nav class="othernavbar">
  <div class="container">
    <ul class="nav" style="background-color: #272733;">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="active_game">My Game Sessions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="create_game">Create A Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="join_game">Join A Game</a>
      </li>
    </ul>

<div class="container">
  <!-- Section Divider -->
<div class="section-divider">
</div>
  {% if active_games %}
    <div class="row">
      {% for active_game in active_games %}
        <div class="col-md-4">
          <div class="card mx-auto">
            {% for game_session in game_sessions %}
              {% if active_game.active_game_id == game_session.active_game_id %}
              <a href="{{ url_for('chat', active_game_id=active_game.active_game_id) }}">
                <img src="{{ url_for('static', filename='images/DDM.jpg') }}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">
                    {% for game in games %}
                      {% if game_session.game_id == game.game_id %}
                        {{ game.game }}
                      {% endif %}
                    {% endfor %}
                  </h5>
                  <p class="card-text">Created by: {{ game_session.owner }}</p>
                  <p class="card-text">Lobby Name: {{ game_session.title }}</p>
                </div>
                <div class="card-body">
                  <form method="post" action="{{ url_for('game_availability', active_game_id=active_game.active_game_id) }}">
                      {% if session['username'] == game_session.owner %}
                          <button type="submit" class="btn btn-primary submit-button">
                              {% if game_session.open_for_join %}
                                  Close Lobby
                              {% else %}
                                  Open Lobby
                              {% endif %}
                          </button>
                      {% endif %}
                  </form>
                </div>
              </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No active games found.</p>
  {% endif %}
</div> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}