{% extends '_template.html' %}

{% block head %}

<title>ForTheBoard - GuildBoard</title>

{% endblock %}

{% block body %}
<style>
    .card-header{
        background-color: #000419;
        color: #FFFFFF;
    }
    .card {
        margin-top: 20px;
        background-color: #202428;
        color: #FFFFFF;
    }
    .card-footer{
        background-color: #000419;
        color: #FFFFFF;
    }
    .btn.btn-primary.btn-block {
        background-color: #944394;
        border-color: #944394;
        color: #FFFFFF;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <strong>
                        <button class="btn btn-light btn-sm">
                            <i class="fas fa-arrow-up"></i>
                        </button>
                        8.81k
                        <button class="btn btn-light btn-sm">
                            <i class="fas fa-arrow-down"></i>
                        </button>
                    </strong> ftb/Main • <span class="text" style="font-size: 10pt; color: #FFFFFF;"> Posted by u/weiward 17 hours ago</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Sample Post [LFG][sHC][static][Aether][DC Travel][SGE] Mit Healer LFG 7.0+</h5>
                    <p class="card-text">
                        <p>I'm looking for a week 1-2 clearing static for 7.0 savage and ultimate content. I strongly prefer to play Sage but I can swap to Scholar for the right group. My long-time static and friend-group is disbanding after this tier. I've cleared all past savage raid tiers and ultimates while they were relevant (before potency/level-cap increase soft nerfs) except UCOB and TOP.</p>
                        <p>
                        - My logs: https://www.fflogs.com/character/na/cactuar/spiral%20sun<br>
                        - My VODs: https://www.twitch.tv/weiward/videos<br>
                        </p>
                        <p>Availability: I'm currently back in school full-time, so unfortunately I won't have PTO/vacation time to alarm-clock week 1. But I will be openly available at the following times:</p>
                        <p>
                        - Mon/Wed/Fri: After 6 PM EST<br>
                        - Tues/Thur - After 10 PM EST<br>
                        - Saturday & Sunday: All Day<br>
                        </p>
                        <p>Please send me a DM via Discord if interested, cheers!</p>
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <a href="" class="btn btn-light btn-sm"><i class="fas fa-comment"></i> 0 Comments</a>
                    <a href="" class="btn btn-light btn-sm"><i class="fas fa-comment"></i> Share</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ftb/RAIDRECRUITMENT</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aspernatur omnis, perferendis fuga quaerat ex, id sed dolores minus dolorum veritatis dolor commodi voluptates, praesentium beatae error consectetur hic. Fuga consequuntur illo odit sit eveniet laudantium? Impedit laboriosam mollitia ut iusto harum voluptates, nostrum nam esse tempora facilis cupiditate.    
                    </p>
                    <a href="/" class="btn btn-primary btn-block">Create Post</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}