{% extends '_template.html' %}

{% block head %}
<title>ForTheBoard - GuildBoard</title>
{% endblock %} 

{% block body %}
{% from 'forum/_macros.html' import forum_style, topic_card %}
{{ forum_style() }}

<div class="container-fluid">
	<div class="row">
		<div class="col-3">
		{% include "forum/_forumtopics.html" %}
		{% include "forum/_forumsearch.html" %}
		</div>
		<div class="col-6">
		{% include "forum/_forumpost.html" %}
		</div>
		<div class="col-3">
		{% set forum_name=post.category %}
		{{ topic_card(forum_name) }}
		</div>
	</div>
</div>
{% endblock %}
