{% extends '_template.html' %}

{% block body %}
<!--Import Jim Nightshade font-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap">

<style>
	h1 {
		font-family: 'Jim Nightshade', cursive;
		font-size: 72px;
		text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
	}
	.ftb-intro-blurb {
		font-family: 'Happy Monkey', cursive;
		font-size: 28px;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
		margin-bottom: 60px;
	}
	.btn.btn-primary.btn-block {
		background-color: #944394;
		border-color: #944394;
		color: #ffffff;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
	}
	.container.intro {
		margin-top: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.logo-image {
		margin-left: 50px;
	}
	.carousel.testimonial {
		margin-top: 50px;
		display: flex;
		overflow: auto;
		white-space: nowrap;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
	}
    .carousel.carousel.testimonial div {
		scroll-snap-align: start;
		flex-shrink: 0;
		width: 100%;
		height: 100%;
		margin-right: 50px;
		border-radius: 10px;
		background: #000419;
		transform-origin: center center;
		transform: scale(1);
		transition: transform 0.5s;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 100px;
	}
</style>

<div class="container intro">
    <div>
        <h1 style="margin: 30px 0;">A new adventure awaits...</h1>
        <p class="ftb-intro-blurb">Connect with like-minded people, schedule time for gatherings, manage your campaign, and deploy your gaming session all in one place.</p>
        <a href="/signup" class="btn btn-primary btn-block">Your Journey Begins Here</a>
    </div>
	<img class="logo-image" src="/static/images/ftb_logo.png" alt="ForTheBoard Logo">
</div>
<div class="carousel testimonial">
    <div>Testimonial 1</div>
    <div>Testimonial 2</div>
    <div>Testimonial 3</div>
    <div>Testimonial 4</div>
    <div>Testimonial 5</div>
</div>
{% endblock %}
