{% extends '_template.html' %}

{% block body %} 

<style>
  .othernavbar a {
    color: #ffffff !important;
    padding: 10px;
  }

  .othernavbar a:hover {
    color: #800080 !important;
  }

  .othernavbar a.active {
    color: #800080 !important; 
  }

  .container-title {
    background-color: #262D34;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
  }

  .title-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #343a40;
    color: #ffffff;
    text-decoration: none; 
    transition: transform 0.2s ease; 
  }

  .card:hover {
    transform: scale(1.15); 
  }
</style>

<!-- Container with Title -->
<div class="container-title">
  <h1>Join A Game</h1>
  <div class="title-line"></div>
</div>

<!-- Navbar -->
<nav class="othernavbar">
  <div class="container">
    <ul class="nav" style="background-color: #272733;">
      <li class="nav-item">
        <a class="nav-link" href="active_game">My Game Sessions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="create_game">Create A Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="join_game">Join A Game</a>
      </li>
    </ul>

    <!-- Search Box  -->
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search Games To Join" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container mt-3">
  <div class="row">
    {% for session in game_session %}
      {% if session.open_for_join %}
        <div class="col-md-4 mb-4"> 
          <form method="POST" action="{{ url_for('join_game') }}">
            <input type="hidden" name="game_id" value="{{ session.active_game_id }}">
            <button type="submit" class="card-link" style="border: none; background-color: transparent;">
              <div class="card mx-auto">
                <img src="{{ url_for('static', filename='images/DDM.jpg') }}" class="card-img-top" alt="{{ session.title }}">
                <div class="card-body">
                  <h5 class="card-title">{{ session.title }}</h5>
                  {% for game in games %}
                    {% if game.game_id == session.game_id %}
                      <p class="card-text">Game Name: {{ game.game }}</p>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </button>
          </form>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>


{% endblock %}
