{% extends '_template.html' %}

{% block head %}
<title>{% block title %}ForTheBoard - Profile{% endblock %}</title>
{% endblock %}

{% block body %}
<style>
    .btn.btn-primary.btn-block {
		background-color: #944394;
		border-color: #944394;
		color: #ffffff;
        margin-top: 15px;
	}
    .form-label {
        display: block;
        text-align: left;
    }
    .form-control, .btn {
        margin-bottom: 15px;
    }
    .card {
        background-color: #000419;
        color: #ffffff;
    }
</style>

<div class="container">
    <form id = "editform" action="/profile/edit" method="post">
    <div class="row justify-content-left">
        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0">
            <div class="card">
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4">
                        <h3 class="h3 mb-0">{{session_user.username}}</h3>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" name="first_name" id="first_name" required>First Name:</label>
                        <input class="form-control" value="{{session_user.first_name}}"></input>
                        <label class="form-label" name="last_name" id="last_name" required>Last Name:</label>
                        <input class="form-control" value="{{session_user.last_name}}"></input>
                        <label class="form-label" name="profile_pic" id="profile_pic" >Profile Pic:</label>
                        <input class="form-control" value="{{session_user.profile_pic}}"></input>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0">
            <div class="card">
                <div class="card-body p-1-9 p-xl-5">
                    <div class="text-start mb-1-6">
                        <h2 class="h3 mb-2">About Me:</h2>
                    </div>
                    <label class="form-label" name="bio_text" id="bio_text">Bio Text:</label>
                    <input class="form-control" value="{{session_user.bio_text}}"></input>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-end">
            
            <input type="submit" form="editform" id="save" class="btn btn-primary btn-block" style="float: left" value="Save Changes"></button>
            
        </div>
    </div>
    </form>
</div>
<script>
    
</script>
{% endblock %}