{% extends '_template.html' %}

{% block body %}
<style>
    .mb-3 {
        color: #944394; /* Make the text color white */
    }
    .form-control, .btn {
        margin-bottom: 15px;
    }
	.btn.btn-primary.btn-block {
		background-color: #944394;
		border-color: #944394;
		color: #ffffff;
	}
    .btn.btn-secondary {
        background-color: #6A84DA;
		border-color: #6A84DA;
		color: #ffffff;
    }
</style>

    <div class="container">
    <h1 style="margin: 30px 0;">Create New Account</h1>
    <h5 class="mb-3">Welcome to FTB! Fill out the form below to create your new free account.</h5>
    <form action="/signup" method="post">
        
        <label for="first_name" class="form-label">First Name</label>
        <input type="first_name" class="form-control" name="first_name" id="first_name">

        <label for="last_name" class="form-label">Last Name</label>
        <input type="last_name" class="form-control" name="last_name" id="last_name">

        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" name="email" id="email">

        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username">
   
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password">

        <label for="password_confirm" class="form-label">Password Confirmation <span id="wrong_pass_alert"></span></label>
        <input type="password" class="form-control" name="password_confirm" id="password_confirm" required onkeyup="validate_password()">

        <button type="submit" class="btn btn-primary btn-block" id="create_acount">Create New Account</button>
    </form>

    <p>Already have an account?</p>
    <form action="/login" method="post">
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
    </div>

    <script>
        function validate_password() {
 
            const pass = document.getElementById('password').value;
            const confirm_pass = document.getElementById('password_confirm').value;
            if (pass != confirm_pass) {
                document.getElementById('wrong_pass_alert').style.color = '#FF668A';
                document.getElementById('wrong_pass_alert').innerHTML
                    = '☒ Use the same password!';
                document.getElementById('create_acount').disabled = true;
                document.getElementById('create_acount').style.opacity = (0.4);
            } else {
                document.getElementById('wrong_pass_alert').style.color = '#7BB6F2';
                document.getElementById('wrong_pass_alert').innerHTML =
                    '🗹 Passwords matched';
                document.getElementById('create_acount').disabled = false;
                document.getElementById('create_acount').style.opacity = (1);
            }
        }
    </script>

{% endblock %}