{% macro forum_style() -%}
<style>
	a {
		color: #FDB37C;
	}
	a:hover {
		color: #944394;
	}
	.card-header {
		background-color: #000419;
		color: #ffffff;
	}
	.card {
		margin-top: 20px;
		background-color: #202428;
		color: #ffffff;
	}
	.card-footer {
		background-color: #000419;
		color: #ffffff;
		display: flex;
	}
	.form-control {
		margin-bottom: 15px;
	}
	.btn.btn-primary.btn-block {
		background-color: #944394;
		border-color: #944394;
		color: #ffffff;
	}
	.btn.btn-light.btn-sm {
		background-color: #a2d0f7;
		border-color: #a2d0f7;
		margin-right: 5px;
	}
	.btn.btn-light.btn-sm.upvote-button {
		background-color: #944394;
		border-color: #944394;
		margin-right: 5px;
	}
	.btn.btn-light.btn-sm.downvote-button {
		background-color: #944394;
		border-color: #944394;
		margin-left: 5px;
	}
	.btn.btn-secondary {
		background-color: #6a84da;
		border-color: #6a84da;
		color: #ffffff;
	}
	.badge.rounded-pill.text-bg-primary {
		background-color: #FDB37C; 
		color: #ffffff;
	}
</style>
{%- endmacro -%}

{% macro topic_card(forum_name) -%}
<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="color: #FDB37C">gb/{{ forum_name }}</h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aspernatur omnis,
            perferendis fuga quaerat ex, id sed dolores minus dolorum veritatis dolor commodi voluptates,
            praesentium beatae error consectetur hic. Fuga consequuntur illo odit sit eveniet laudantium?
            Impedit laboriosam mollitia ut iusto harum voluptates, nostrum nam esse tempora facilis
            cupiditate.
        </p>
        <a href="/create_post" class="btn btn-primary btn-block">Create Post</a>
    </div>
</div>
{%- endmacro -%}